.search{
    display: flex;
    position: inherit;
    width: 100%;
    min-height: 100px;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

input{
    width: 200px;
    height: 26px;
}

.button {
    width:150px;
    height: 30px;
    border: 1px solid rgb(248, 108, 8);
    background-color: rgb(125, 35, 7);
    color: white;
    margin: 2px;
    border-radius: 5px;
}

.searchMargin {
    margin: 15px 5px 0px 5px;
}

.addstudent{
    height: auto;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
    margin-bottom: 50px;
    /* flex-direction: column; */
}

.studentDetails{
    height: auto;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

select{
    width: 150px;
    height: 30px;
}

table td{
    width: 150px;
    height: 30px;
    background-color: rgb(173, 121, 79);
    text-align: center;
    color: white;
}

.tablehead td{
    width: 150px;
    height: 30px;
    background-color: rgb(149, 57, 15);
    text-align: center;
    color: white;
}

table td button {
    padding: 5px 10px;
    border-radius: 5%;
    cursor: pointer;
    margin: 2px;
    border-radius: 5px;
}

table td button.edit {
    border: 1px solid rgb(248, 108, 8);
    background-color: rgb(125, 35, 7);
    color: white;
}
table td button.delete {
    border: 1px solid red;
    background-color: rgb(219,19,19);
    color: white;
}

table td button.edit:hover{
    background-color: rgb(3,71,3);
}
table td button.delete:hover{
    background-color: rgb(92,5,5);
}